.section-home-chess {
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  .chess {
    padding: 0;
    display: flex;

    &.right-img {
      flex-direction: row-reverse;
    }

    &.left-img {
      flex-direction: row;
    }

    &.left-img,
    &.right-img {
      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }

    &__img {
      width: 50%;
      @media (max-width: 767px) {
        width: 80%;
        margin: 0 auto;

        box-shadow: $netguru-shadow;
      }

      @media (max-width: 450px) {
        width: 90%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 75px;

      @media (max-width: 1279px) {
        padding: 0 50px;
      }

      @media (max-width: 991px) {
        padding: 0 35px;
      }

      @media (max-width: 767px) {
        min-height: 300px;
        padding: 75px;
      }

      @media (max-width: 450px) {
        padding: 50px;
        min-height: 300px;
      }
    }

    &__title {
      font-size: 3rem;
      margin-bottom: 1.5rem;

      @media (max-width: 1279px) {
        font-size: 2.3rem;
        margin-bottom: 1rem;
      }

      @media (max-width: 1023px) {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
    }

    &__desc {
      margin-bottom: 1.5rem;
    }
  }
}
.section-home-boxes {
  background: #f5f5f5;
  padding: 150px 0;

  @media (max-width: 991px) {
    padding: 50px 0;
  }
  .boxes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 559px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: $netguru-shadow;
      padding: 20px 0 50px 0;
      transition: transform 0.3s;
      position: relative;
      text-align: center;

      @media (max-width: 559px) {
        width: 250px;
        margin-bottom: 60px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        transform: translateY(50%);
        height: 20px;
        background: rgba(0, 0, 0, 0.2);
      }

      &:hover {
        transform: translateY(-10px);

        .box__icon {
          transform: translateY(-30px);

          &::after {
            transition: transform 0.2s 0.3s;
            transform: scaleY(1);
          }
        }

        .box__title {
          letter-spacing: 2px;
        }
      }

      &__icon {
        font-family: "FontAwesome";
        font-size: 100px;
        transition: transform 0.3s 0.1s;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 130%;
          width: 130%;
          background: rgba(0, 0, 0, 0.2);
          top: -15%;
          left: -15%;
          transform-origin: top center;
          transform: scaleY(0);
          transition: transform 0.2s;
        }
      }

      &__number {
        font-size: 3rem;
        font-weight: 900;
      }

      &__title {
        transition: 0.2s 0.1s;
      }
    }
  }
}
.section-home-cta {
  padding: 150px 0;
  @media (max-width: 991px) {
    padding: 50px 0;
  }
  .home-cta {
    text-align: center;
    &__desc {
      margin: 50px 0;
      line-height: 2;
      @media (max-width: 767px) {
        line-height: 1.3;
      }

      @media (max-width: 559px) {
        text-align: justify;
        margin: 30px 0;
      }
    }

    &__btn {
      font-size: 1.5rem;

      @media (max-width: 559px) {
        font-size: 1rem;
      }
    }
  }
}
.section-contact {
  background: #ccc;
  .contact {
    &__content {
      padding: 50px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      * {
        color: #fff;
      }
    }

    &__address {
      padding-left: 20px;
      position: relative;

      &::before {
        content: "";
        height: 100%;
        top: 0%;
        left: 0;
        width: 2px;
        background-color: #fff;
        position: absolute;
      }
    }

    &__brand {
      height: 250px;
      padding-right: 20px;

      @media (max-width: 559px) {
        height: 100px;
      }
    }
  }
}

.section-chess {
  .chess {
    display: flex;

    &__img {
      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
        margin: 0 auto;
      }
    }

    &__content {
      padding: 50px;
      text-align: justify;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 991px) {
        padding: 20px;
      }
    }

    &__title {
      margin-bottom: 1rem;
    }

    &.right-img {
      flex-direction: row-reverse;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }

    &.left-img {
      flex-direction: row;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }

    &.center-text {
      .chess__content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .chess__title {
        &.section-title {
          font-size: 3rem;
          margin-bottom: 3rem;
        }
      }
    }
  }
}

.section-contact-us {
  margin-bottom: 50px;
  .contact {
    display: flex;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      input,
      textarea {
        width: 60%;
      }

      .send-button {
        margin: 2rem 0;
      }
    }
  }
}

.stories-section {
  padding: 50px 0;
  .stories {
    counter-reset: story;
    .story {
      border: solid 2px rgba(#000, 0.1);
      padding: 3rem;
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &::before {
        content: counter(story);
        counter-increment: story;
        position: absolute;
        bottom: 100%;
        left: 0;
        font-size: 150px;
        display: block;
        line-height: 1;
        transform: translate(-50%, 60%);
        text-align: center;
        font-weight: 700;
        font-family: $font-primary;

        @media (max-width: 767px) {
          font-size: 70px;
          transform: translate(-20%, -50%);
          bottom: auto;
          top: 0;
        }
      }

      &__title {
        display: inline-block;
        position: relative;
        margin-bottom: 1rem;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          height: 2px;
          width: 100px;
          background: rgba(0, 0, 0, 0.3);
        }
      }
      &__excerpt {
        margin-bottom: 1rem;
      }
      &__link {
        display: inline-block;
      }
      &__expand {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        transform: translate(-50%, 50%);
        font-size: 0;

        &::after {
          content: "\f103";
          font-family: "FontAwesome";
          font-size: 2rem;
        }
      }

      &__content {
        transition: max-height 0.4s 0.1s, opacity 0.3s;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        margin-bottom: 2rem;

        &.expanded {
          transition: max-height 0.5s, opacity 0.3s 0.1s;
          max-height: 2000px;
          opacity: 1;
          pointer-events: initial;
        }
      }
    }
  }
}
