/* ==== MAIN TEXT ==== */

section.main-text {
    text-align: center;
    padding: 50px 0 100px 0;;
}
section.main-text h1 {
    font-size: 4rem;
    margin-top: 0;
}
.title {
    font-style: italic;
    position: relative;
    display: inline-block;
}
.title::after {
    content: '';
    left: 25%;
    bottom: -30px;
    background: black;
    width: 50%;
    height: 2px;
    position: absolute;
}

/* ==== NUMBERS ==== */
section.numbers {
    background: 
        
        #e1e1e1;
    padding: 50px 0;
}

.numbers-box {
    text-align: center;
}

.numbers-box h3 {
    font-size: 2rem;
    font-weight: 900
}

.box-icon {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
    
    background: #fff;
    box-shadow: 
        #c0c0c030 -1px 1px 0, 
        #c2c2c230 -2px 2px 0, 
        #c3c3c330 -3px 3px 0, 
        #c5c5c530 -4px 4px 0, 
        #c6c6c630 -5px 5px 0, 
        #c8c8c830 -6px 6px 0, 
        #c9c9c930 -7px 7px 0, 
        #cbcbcb25 -8px 8px 0, 
        #cccccc25 -9px 9px 0, 
        #cecece25 -10px 10px 0, 
        #cfcfcf25 -11px 11px 0, 
        #d1d1d125 -12px 12px 0, 
        #d2d2d225 -13px 13px 0, 
        #d4d4d425 -14px 14px 0, 
        #d5d5d520 -15px 15px 0, 
        #d7d7d720 -16px 16px 0, 
        #d8d8d820 -17px 17px 0, 
        #dadada20 -18px 18px 0, 
        #dbdbdb20 -19px 19px 0, 
        #dddddd20 -20px 20px 0, 
        #dfdfdf20 -21px 21px 0, 
        #e0e0e015 -22px 22px 0, 
        #e2e2e215 -23px 23px 0, 
        #e3e3e315 -24px 24px 0, 
        #e5e5e515 -25px 25px 0, 
        #e6e6e615 -26px 26px 0, 
        #e8e8e815 -27px 27px 0, 
        #e9e9e915 -28px 28px 0, 
        #ebebeb10 -29px 29px 0, 
        #ececec10 -30px 30px 0, 
        #eeeeee10 -31px 31px 0, 
        #efefef10 -32px 32px 0, 
        #f1f1f110 -33px 33px 0, 
        #f2f2f210 -34px 34px 0, 
        #f4f4f410 -35px 35px 0, 
        #f5f5f505 -36px 36px 0, 
        #f7f7f705 -37px 37px 0, 
        #f8f8f805 -38px 38px 0, 
        #fafafa05 -39px 39px 0, 
        #fbfbfb05 -40px 40px 0, 
        #fdfdfd05 -41px 41px 0, 
        #ffffff05 -42px 42px 0
}

.box-icon i {
    font-size: 100px;
}

section.placeholder {height: 500px;}