header {
    background: var(--color-3)
}

.header-logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 1px transparent

}

.header-top {
    display: flex;
    margin-right: auto
}

@media(max-width: 959px) {
    .header-logo-nav-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .header-top {
        margin: 0;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    
    .header-top > .header-logo-image {
        margin-right: auto;
    }
}



/* HEADER LOGO */
.header-logo-image img {
    max-width: 200px;
    padding: 20px 0;
}



/* HEADER BUTTON */

button.toggle-menu-button {
    height: 45px;
    width: 45px;
    font-size: 32px;
    color: #fff;
    background: transparent;
    border: solid 1px rgba(255, 255, 255, 0.3);
    transition: 0.2s;
    margin-bottom: 10px
}

button.toggle-menu-button.clicked {
    transform: rotate(90deg)
}

@media(min-width: 960px) {
    button.toggle-menu-button {
        display: none;
    }
}

/* HEADER MENU */

nav.header-nav ul.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background: var(--color-3);
    width: 100%;
}

nav.header-nav ul.main-menu > li.menu-item {
    
}

nav.header-nav ul.main-menu > li.menu-item a {
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    transition: 0.2s;
    position: relative;
    
}

nav.header-nav ul.main-menu > li.current-menu-item a {
    font-weight: 600;
}

@media(max-width: 959px) {
    
    nav.header-nav ul.main-menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        padding-bottom: 15px;
        transform: scaleY(0);
        transition: 0.4s 0.5s;
        transform-origin: center top;
    }
    nav.header-nav.toggleMenu ul.main-menu {
        transform: scaleY(1);
        transition: 0.4s;
        box-shadow: inset 0 80px 200px -160px
    }
    nav.header-nav ul.main-menu > li.menu-item {
        text-align: center;
        position: relative;
    }
    nav.header-nav ul.main-menu > li.menu-item::after {
        content: '';
        height: 1px;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        background: #ffffff44
    }
    nav.header-nav ul.main-menu > li.menu-item > a {
        width: 100%;
    }
    
    nav.header-nav li.menu-item:nth-child(2n) {
        animation: fadeOutLeft .8s;
        animation-fill-mode: forwards;
    }
    
    nav.header-nav li.menu-item:nth-child(2n + 1) {
        animation: fadeOutRight .8s;
        animation-fill-mode: forwards;
    }
    
    nav.header-nav.toggleMenu li.menu-item:nth-child(2n) {
        animation: rotateInUpLeft .8s;
        animation-fill-mode: forwards;
    }
    
    nav.header-nav.toggleMenu li.menu-item:nth-child(2n + 1) {
        animation: rotateInUpRight .8s;
        animation-fill-mode: forwards;
    }

}
@media(min-width: 960px) {
    nav.header-nav ul.main-menu > li.menu-item a:hover,
    nav.header-nav ul.main-menu > li.current-menu-item a {
        transform: translateY(-7px);
    }
    
    nav.header-nav ul.main-menu > li.menu-item a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 1px;
        width: 0%;
        background: #ffffffdd;
        transition: 0.2s;
    }
    
    nav.header-nav ul.main-menu > li.menu-item a:hover:after,
    nav.header-nav ul.main-menu > li.current-menu-item a::after {
        left: 25%;
        width: 50%;
    }
    
    
    
    
    
}

/*    BRUDNOPIS    */

section {
    height: 200px;
    background: var(--color-2);
}


































/**/