:root {
    font-size: 16px;
    
    --font-primary: 'Proza Libre';
    --font-secondary: 'Cormorant';
    
    --text-color: #262626;
    --link-color: #464646;
    
    --color-1: #FBE8A6;
    --color-1-op: #FBE8A6;
    
    --color-2: #F4976C;
    
    --color-3: #0b91ce;
    --color-3-op: #0b91ce99;
    
    --color-4: #B4DFE5;
    
    --color-5: #D2FDFF;
}

@media (min-width: 960px) {
    :root {
        font-size: 15px;
    }
}


*:focus {outline: 0;}
body {margin: 0}
.no-padding {padding: 0 !important}

/* ==== BUTTONS ==== */
a.button-primary {
    display: inline-block;
    background: var(--color-4);
    padding: 15px 35px;
    color: #161616;
    box-shadow: 0 15px 40px -20px;
    transition: 0.2s;
    margin-top: 20px
}

a.button-primary:hover {
    letter-spacing: 1px;
    transform: translateY(-5px);
    box-shadow: 0 25px 40px -20px;
}